@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="in">

</div>



@section Scripts{
    <script src="~/js/travel.js"></script>


    <script>
        let datas=spots.CommonFormat.Section.map(item=>{
            let { file, stitle, xbody, idpt, xurl } = item;
            let arr="";

            if (file.img.length!=undefined){
                arr = file.img[1].text;
            }
            else{
                arr = file.img.text;
            }
            
            return(`
                    <div class="card" style="width: 18rem;" id="card">
                                       <img src="${arr}" class="card-img-top" alt="...">
                               <div class="card-body">
                                          <h5 class="card-title" >${stitle}</h5>
                                  <p class="card-text">${xbody.substring(0, 99)}</p>
                                  <a href=${xurl} class="btn btn-primary">${idpt}</a>
                               </div>
                             </div>
            `)
        });

        $("#in").append(datas.join(""));
    </script>

}